<header>
  <nav>
    <img
      src="https://seeklogo.com/images/N/netflix-logo-1765437C34-seeklogo.com.png"
      alt="netflix"
    />
    <div class="sous-nav">
      <div class="left">
        <a href="">Accueil</a>
        <a href="">Serie télé</a>
        <a (click)="accueil()">Film</a>
        <a href="">Ma liste</a>
      </div>
      <div class="right">
        <img src="" alt="" /> <a href="">Jeunesse</a><a href="">DVD</a>
        <img src="" alt="" />
        <img src="" alt="" />
        <a>⏬</a>
      </div>
    </div>
  </nav>
</header>
<input type="text" placeholder="" /><button>Search</button>
