<header>
  <nav>
    <img
      src="https://seeklogo.com/images/N/netflix-logo-1765437C34-seeklogo.com.png"
      alt="netflix"
    />
    <div class="sous-nav">
      <div class="left">
        <a href="">Accueil</a>
        <a href="">Serie télé</a>
        <a (click)="accueil()">Film</a>
        <a href="">Ma liste</a>
      </div>
      <div class="right">
        <img src="" alt="" /> <a href="">Jeunesse</a><a href="">DVD</a>
        <img src="" alt="" />
        <img src="" alt="" />
        <a>⏬</a>
      </div>
    </div>
  </nav>
</header>

<form>
  <label>Genre:</label>
  <select name="genre">
    <option value="horror">Horreur</option>
    <option value="comedy">Comédie</option>
    <option value="animation">Animation</option>
  </select>
</form>

<!-- <div *ngFor="let movie of movies">
          <div *ngIf="selectedGenre === 'horror' && movie.genre === 'horror'">
            {{ movie.title }}
          </div>
          <div *ngIf="selectedGenre === 'comedy' && movie.genre === 'comedy'">
            {{ movie.title }}
          </div>
          <div
            *ngIf="selectedGenre === 'animation' && movie.genre === 'animation'"
          >
            {{ movie.title }}
          </div>
        </div> -->
